
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar
      class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    
      <span>Shifo.uz</span>
      <span class="spacer"></span>
    
      <button  [matMenuTriggerFor]="menuRef" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
      </button>
     
      
      <mat-menu #menuRef="matMenu">
          <button mat-menu-item >
              <mat-icon class="mat-18">login</mat-icon> Login
          </button>
          <button mat-menu-item >
              <mat-icon class="mat-18">app_registration</mat-icon> Register
          </button>
    
          <button mat-menu-item >
            <mat-icon class="mat-18">logout</mat-icon> Logout
        </button>
      </mat-menu>
    </mat-toolbar>
    
    <mat-sidenav-container class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list dense>
            <a mat-list-item routerLink="/">Dashboard</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/user">User</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/answer">Answer</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/question">Question</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/subject">Subject</a>
            <mat-divider></mat-divider>
            
        </mat-nav-list>
         
      </mat-sidenav>
    
      <mat-sidenav-content >
        <div class="main-content">
           <router-outlet></router-outlet>
        </div>
       
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    