

// Spriler Animation
@keyframes ldio-nlb8hdub5pc {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-nlb8hdub5pc div {
    left: 133.4px;
    top: 59.449999999999996px;
    position: absolute;
    animation: ldio-nlb8hdub5pc linear 0.8695652173913042s infinite;
    background: #0fb4d8;
    width: 23.2px;
    height: 20.3px;
    border-radius: 11.6px / 10.15px;
    transform-origin: 11.6px 85.55px;
  }.ldio-nlb8hdub5pc div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.8423913043478259s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(2) {
    transform: rotate(11.25deg);
    animation-delay: -0.8152173913043478s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(3) {
    transform: rotate(22.5deg);
    animation-delay: -0.7880434782608695s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(4) {
    transform: rotate(33.75deg);
    animation-delay: -0.7608695652173912s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(5) {
    transform: rotate(45deg);
    animation-delay: -0.733695652173913s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(6) {
    transform: rotate(56.25deg);
    animation-delay: -0.7065217391304347s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(7) {
    transform: rotate(67.5deg);
    animation-delay: -0.6793478260869564s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(8) {
    transform: rotate(78.75deg);
    animation-delay: -0.6521739130434782s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(9) {
    transform: rotate(90deg);
    animation-delay: -0.6249999999999999s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(10) {
    transform: rotate(101.25deg);
    animation-delay: -0.5978260869565216s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(11) {
    transform: rotate(112.5deg);
    animation-delay: -0.5706521739130435s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(12) {
    transform: rotate(123.75deg);
    animation-delay: -0.5434782608695652s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(13) {
    transform: rotate(135deg);
    animation-delay: -0.5163043478260869s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(14) {
    transform: rotate(146.25deg);
    animation-delay: -0.48913043478260865s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(15) {
    transform: rotate(157.5deg);
    animation-delay: -0.4619565217391304s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(16) {
    transform: rotate(168.75deg);
    animation-delay: -0.4347826086956521s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(17) {
    transform: rotate(180deg);
    animation-delay: -0.4076086956521739s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(18) {
    transform: rotate(191.25deg);
    animation-delay: -0.3804347826086956s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(19) {
    transform: rotate(202.5deg);
    animation-delay: -0.35326086956521735s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(20) {
    transform: rotate(213.75deg);
    animation-delay: -0.3260869565217391s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(21) {
    transform: rotate(225deg);
    animation-delay: -0.2989130434782608s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(22) {
    transform: rotate(236.25deg);
    animation-delay: -0.2717391304347826s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(23) {
    transform: rotate(247.5deg);
    animation-delay: -0.24456521739130432s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(24) {
    transform: rotate(258.75deg);
    animation-delay: -0.21739130434782605s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(25) {
    transform: rotate(270deg);
    animation-delay: -0.1902173913043478s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(26) {
    transform: rotate(281.25deg);
    animation-delay: -0.16304347826086954s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(27) {
    transform: rotate(292.5deg);
    animation-delay: -0.1358695652173913s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(28) {
    transform: rotate(303.75deg);
    animation-delay: -0.10869565217391303s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(29) {
    transform: rotate(315deg);
    animation-delay: -0.08152173913043477s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(30) {
    transform: rotate(326.25deg);
    animation-delay: -0.05434782608695651s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(31) {
    transform: rotate(337.5deg);
    animation-delay: -0.027173913043478257s;
    background: #0fb4d8;
  }.ldio-nlb8hdub5pc div:nth-child(32) {
    transform: rotate(348.75deg);
    animation-delay: 0s;
    background: #0fb4d8;
  }
  .loadingio-spinner-spinner-hd046bupud {
    width: 290px;
    height: 290px;
    display: inline-block;
    overflow: hidden;
  }
  .ldio-nlb8hdub5pc {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-nlb8hdub5pc div { box-sizing: content-box; }
  /* generated by https://loading.io/ */
    